"packages": [
  "alsa"
  "atk"
  "atspi-2"
  "AutovalaPlugin"
  "AutoVala"
  "avahi-client"
  "avahi-gobject"
  "bzlib"
  "cairo"
  "cairo-xcb"
  "ccss-1"
  "clutter-1.0"
  "clutter-gdk-1.0"
  "clutter-gst-1.0"
  "clutter-gst-2.0"
  "clutter-gst-3.0"
  "clutter-gtk-0.10"
  "clutter-gtk-1.0"
  "clutter-json-1.0"
  "clutter-x11-1.0"
  "cogl-1.0"
  "cogl-pango-1.0"
  "curses"
  "dbus-glib-1"
  "enchant"
  "fuse"
  "gconf-2.0"
  "gdk-2.0"
  "gdk-3.0"
  "gdk-pixbuf-2.0"
  "gdk-x11-2.0"
  "gdk-x11-3.0"
  "gdl-1.0"
  "gdl-3.0"
  "gdu-gtk"
  "gdu"
  "gedit-2.20"
  "gedit"
  "gee-0.8"
  "gee-1.0"
  "geocode-glib-1.0"
  "gio-2.0"
  "gio-unix-2.0"
  "glib-2.0"
  "gmodule-2.0"
  "gnet-2.0"
  "gnome-desktop-2.0"
  "gnome-keyring-1"
  "gnome-vfs-2.0"
  "gnutls"
  "gobject-2.0"
  "gobject-introspection-1.0"
  "goocanvas"
  "gsl"
  "gstreamer-0.10"
  "gstreamer-1.0"
  "gstreamer-allocators-1.0"
  "gstreamer-app-0.10"
  "gstreamer-app-1.0"
  "gstreamer-audio-0.10"
  "gstreamer-audio-1.0"
  "gstreamer-base-0.10"
  "gstreamer-base-1.0"
  "gstreamer-cdda-0.10"
  "gstreamer-check-0.10"
  "gstreamer-check-1.0"
  "gstreamer-controller-0.10"
  "gstreamer-controller-1.0"
  "gstreamer-dataprotocol-0.10"
  "gstreamer-fft-0.10"
  "gstreamer-fft-1.0"
  "gstreamer-interfaces-0.10"
  "gstreamer-net-0.10"
  "gstreamer-net-1.0"
  "gstreamer-netbuffer-0.10"
  "gstreamer-pbutils-0.10"
  "gstreamer-pbutils-1.0"
  "gstreamer-riff-0.10"
  "gstreamer-riff-1.0"
  "gstreamer-rtp-0.10"
  "gstreamer-rtp-1.0"
  "gstreamer-rtsp-0.10"
  "gstreamer-rtsp-1.0"
  "gstreamer-rtsp-server-1.0"
  "gstreamer-sdp-0.10"
  "gstreamer-sdp-1.0"
  "gstreamer-tag-0.10"
  "gstreamer-tag-1.0"
  "gstreamer-video-0.10"
  "gstreamer-video-1.0"
  "gtk+-2.0"
  "gtk+-3.0"
  "gtkmozembed"
  "gtksourceview-2.0"
  "gtksourceview-3.0"
  "gudev-1.0"
  "hal"
  "hildon-1"
  "hildon-fm-2"
  "json-glib-1.0"
  "libarchive"
  "libbonoboui-2.0"
  "libdaemon"
  "libepc-1.0"
  "libesmtp"
  "libftdi"
  "libgda-4.0"
  "libgda-report-4.0"
  "libgdata"
  "libglade-2.0"
  "libgnome-2.0"
  "libgnome-menu-3.0"
  "libgnome-menu"
  "libgnomeui-2.0"
  "libgsf-1"
  "libgvc"
  "libmagic"
  "libnl-1"
  "libnl-2.0"
  "libnl-3.0"
  "libnotify"
  "liboobs-1"
  "libosso"
  "libpanelapplet-2.0"
  "libpeas-1.0"
  "libpeas-gtk-1.0"
  "libpq"
  "libpulse-mainloop-glib"
  "libpulse"
  "librsvg-2.0"
  "libsexy"
  "libsoup-2.2"
  "libsoup-2.4"
  "libusb-1.0"
  "libusb"
  "libvala-0.28"
  "libwnck-1.0"
  "libwnck-3.0"
  "libxml-2.0"
  "linux"
  "loudmouth-1.0"
  "lua"
  "mx-1.0"
  "mysql"
  "orc-0.4"
  "packagekit-glib2"
  "pangocairo"
  "pango"
  "pantheon-files-core-C"
  "pantheon-files-core"
  "pixman-1"
  "poppler-glib"
  "posix"
  "purple"
  "raptor"
  "rasqal"
  "readline"
  "rest-0.6"
  "rest-0.7"
  "rest-extras-0.6"
  "rest-extras-0.7"
  "SDL2_gfx"
  "SDL2_image"
  "SDL2_ttf"
  "sdl2"
  "sdl-gfx"
  "sdl-image"
  "sdl-mixer"
  "sdl-net"
  "sdl-ttf"
  "sdl"
  "sqlite3"
  "taglib_c"
  "tiff"
  "tokyocabinet"
  "tracker-indexer-module-1.0"
  "twitter-glib-1.0"
  "udisks2"
  "unique-1.0"
  "v4l2"
  "vte-2.90"
  "vte"
  "webkit-1.0"
  "webkit2gtk-4.0"
  "webkit2gtk-web-extension-4.0"
  "x11"
  "xcb-icccm"
  "xcb"
  "xtst"
  "zlib"
]
